<!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To Apple !</div>
                <div class="intro-heading">Stay hungry, Stay foolish!</div>
            </div>
        </div>
    </header>